In [1]:
#Task 1
variable1 = 10
variable2 = "Hello"

print("The value of variable 1 is {} and the value of variable 2 is {}.".format(variable1, variable2))

The value of variable 1 is 10 and the value of variable 2 is Hello.

In [ ]:
#Task 2
string = "hello"
print(string.upper())  # Output: "HELLO"

string = "WORLD"
print(string.lower())  # Output: "world"

string = "hello world"
print(string.capitalize())  # Output: "Hello world"

string = "Hello,World"
print(string.split(","))  # Output: ["Hello", "World"]

string_list = ["Hello", "World"]
print(",".join(string_list))  # Output: "Hello,World"

string = "12345"
print(string.isdigit())  # Output: True

string = "Hello"
print(string.isalpha())  # Output: True

string = "hello"
print(string.islower())  # Output: True

string = "WORLD"
print(string.isupper())  # Output: True

string = "Hello, World!"
print(string.startswith(("Hello", "Hi")))  # Output: True

string = "Hello, World!"
print(string.endswith(("World!", "Python!")))  # Output: True

In [ ]:
# Task 3
month = 2
num_days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31][month - 1]
print(num_days)

In [ ]:
# Task 4
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003',
                 'March 29, 2006', 'August 1, 2008', 'July 22, 2009',
                 'July 11, 2010', 'November 13, 2012', 'March 20, 2015',
                 'March 9, 2016']

recent_dates = eclipse_dates[-3:]
print(recent_dates)

In [ ]:
# Task 5
students = {
    'student1': {
        'name': 'Adil',
        'age': 19,
        'year': '1st',
        'subjects': ['Programming', 'Physics', 'English']
    },
    'student2': {
        'name': 'Sara',
        'age': 20,
        'year': '2nd',
        'subjects': ['Pakistan Studies', 'OOP', 'PP']
    },
    'student3': {
        'name': 'Aisha',
        'age': 21,
        'year': '3rd',
        'subjects': ['SPM', 'SEM', 'MAD']
    },
    'student4': {
        'name': 'Hamza',
        'age': 22,
        'year': '4th',
        'subjects': ['CC', 'Calculas', 'LAAG']
    },
    'student5': {
        'name': 'Hira',
        'age': 22,
        'year': '4th',
        'subjects': ['Ethics', 'DSA', 'OS']
    }
}


print(students['student4']['name'])
print(students['student5']['year'])
print(students['student3']['subjects'])