In [ ]:
# Task 1
points = 174
result = ""


if 1 <= points <= 50:
    result = "Congratulations, you won a wooden rabbit"
elif 51 <= points <= 150:
    result = "Oh dear, no prize this time."
elif 151 <= points <= 180:
    result = "Congratulations, you won a wafer-thin mint"
elif 181 <= points <= 200:
    result = "Congratulations, you won a pengiun"
else:
    result = "Oh dear, Please try again"


print(result)

In [ ]:
# Task 2
answer = 42

guess = int(input("Guess the number: "))

if guess < answer:
    print("Too low! Try again.")
elif guess > answer:
    print("Too high! Try again.")
else:
    print("Congratulations! You guessed the correct number.")

In [ ]:
# Task 3
def calculate_tax(amount, state):
    tax_rates = {
        "CA": 0.075,
        "MN": 0.095,
        "NY": 0.089
    }

    if state in tax_rates:
        tax_rate = tax_rates[state]
        tax_amount = amount * tax_rate
        total_amount = amount + tax_amount
        return total_amount
    else:
        return amount

amount = float(input("Enter the amount of purchase: "))
state = input("Enter your state (CA, MN, or NY): ")

total_amount = calculate_tax(amount, state)

print(f"Total amount with tax: ${total_amount:.2f}")

In [ ]:
# Task 4
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the", "lazy", "dog"]

for word in sentence:
    print(word)

In [ ]:
# Task 5
for number in range(5, 31, 5):
    print(number)

In [ ]:
# Task 6
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]
first_names = [name.split()[0].lower() for name in names]
print(first_names)

In [ ]:
# Task 7
multiples_3 = [i * 3 for i in range(1, 21)]
print(multiples_3)

In [ ]:
# Task 8
scores = {
    "Rick Sanchez": 70,
    "Morty Smith": 35,
    "Summer Smith": 82,
    "Jerry Smith": 23,
    "Beth Smith": 98
}

passed = [name for name, score in scores.items() if score >= 65]
print(passed)

In [ ]:
# Task 9
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]

cast = dict(zip(cast_names, cast_heights))
print(cast)

In [ ]:
# Task 10
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

for i, character in enumerate(cast):
    cast[i] = f"{character}{heights[i]}"

print(cast)